.App {
  text-align: right;
}

.nav-btn1 {
  background-color: transparent !important;
  border-color: white !important;
  color: white;
  margin-left: 10px;
  margin-top: 10px;
}

.nav-btn1:hover {
  background-color: #4caf50 !important;
  border-color: #4caf50 !important;
  color: white;
}

.nav-btn2 {
  background-color: #4caf50 !important;
  border-color: #4caf50 !important;
  color: white;
  margin-left: 10px;
  margin-top: 10px;
}

.nav-btn2:hover {
  background-color: transparent !important;
  border-color: #4caf50 !important;
  color: white;
}
